/*更多操作按钮不可编辑样式，pointer-events:none;取消掉了cursor属性,没有禁止图标*/
.enable-button{
  pointer-events: none;
}
.enable-button span{
  color: #c0c0c0 !important;
}

.red span{
  color: var(--error-color);
}

.enable span{
  color: #c0c0c0;
}

.blue span{
  color: var(--primary-color);
}

.orange span{
  color: var(--warning-color);
}

.green span{
  color: var(--success-color);
}

.gray span{
  color: var(--grey-color);
}