<div class="hy-col-{{flex == undefined ? cols : 0}}"  [ngStyle]="{display: flex == undefined ? 'block' : 'inline-block'}" title="">
  <nz-form-item class="hy-form-item">
    <hy-comm-label
      *ngIf="!noLabel"
      [noLabel]="noLabel"
      [labelWidth]="labelWidth" 
      [ckRequired]="ckRequired" 
      [noColon]="noColon" 
      [title]="title" 
      [isWrap]="isLabelWrap ?? tableService.isLabelWrap">
    </hy-comm-label>
    <span class="required-icon" *ngIf="noLabel && ckRequired && isShowNoLabelRequired">*</span>
    <nz-form-control [nzValidateStatus]="formControl.pristine ? 'success' : formControl">
      <nz-radio-group [ngStyle]="{width: flex == undefined ? '100%' : flex,'padding-top': type == 'radio' ? (onelineNum > 1 ? '5px' : '0px') : '0px'}" *ngIf="type == 'radio'" [formControl]="formControl" [(ngModel)]="datas" (ngModelChange)="onModelChange($event)">
        <label
          nz-radio
          nz-tooltip 
          [nzTooltipMouseEnterDelay]="2"
          [nzTooltipTitle]="item.text"
          class="label-radio"
          [ngClass]="{'hy-radio-ellipsis':isEllipsis,'label-radio-style': isVertical == true}"
          [ngStyle]="{
            display:onelineNum === 1 ? 'block' : 'inline-block', 
            width: onelineNum > 0 ? items.length >= onelineNum ? 'calc('+100 / onelineNum + '% - 28px)' : 'calc('+100 / items.length + '% - 28px)' : 'auto',
            'max-width': onelineNum > 0 ? items.length >= onelineNum ? 'calc('+100 / onelineNum + '% - 28px)' : 'calc('+100 / items.length + '% - 28px)' : 'auto'
          }"
          *ngFor="let item of items; let index = index"
          [nzDisabled]="(!enable || !tableService.enable) && (_enableAllow ? ((_enableAllow.indexOf(SPIT + item.id + SPIT) !== -1) ? false : true ) : true)"
          nzValue="{{ item.id }}">
          {{ item.text }}
        </label>
      </nz-radio-group>

      <nz-radio-group *ngIf="type == 'radioButton'" [formControl]="formControl" [(ngModel)]="datas" (ngModelChange)="onModelChange($event)" [nzButtonStyle]="buttonStyle" [nzSize]="size" style="width: 100%;">
        <label
          nz-radio-button
          *ngFor="let item of items; let index = index"
          [nzDisabled]="(!enable || !tableService.enable) && (_enableAllow ? ((_enableAllow.indexOf(SPIT + item.id + SPIT) !== -1) ? false : true ) : true)"
          nzValue="{{ item.id }}"
          (click)="onChange.emit(item)"
          >{{ item.text }}
          </label
        >
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</div>
