.hy-flex-box{
    overflow: hidden;
    .hy-flex-box-main{
        display: flex;
    }
    .auto-layout{
        width: calc(100% + 16px);
    }
}

.hy-flex-box-padding{
    padding: 16px;
}

.hy-bg{
    background-color: #fff;
}

.right-padding{
    padding-right: 16px;
}
.top-padding{
    padding-top: 16px;
}
.bottom-padding{
    padding-bottom: 16px;
}
.left-padding{
    padding-left: 16px;
}
.top-margin{
    margin-top: 8px;
}
.bottom-margin{
    margin-bottom: 8px;
}