<div class="hy-col-{{flex == undefined ? cols : 0}}"  [ngStyle]="{display: flex == undefined ? 'block' : 'inline-block'}" title="">
  <nz-form-item class="hy-form-item">
    <hy-comm-label
      *ngIf="!noLabel"
      [noLabel]="noLabel"
      [labelWidth]="labelWidth" 
      [ckRequired]="ckRequired" 
      [noColon]="noColon" 
      [title]="title" 
      [isWrap]="isLabelWrap ?? tableService.isLabelWrap">
    </hy-comm-label>
    <span class="required-icon" *ngIf="noLabel && ckRequired && isShowNoLabelRequired">*</span>
    <nz-form-control [ngStyle]="{width: flex == undefined ? '100%' : flex}" [nzValidateStatus]="formControl.pristine ? 'success' : formControl">
      <span
        nz-tooltip
        [nzTooltipTitle]="formControl.errors && formControl.errors['msg'] ? formControl.errors['msg'] : ''" 
        nzTooltipPlacement="topRight"
        [nzTooltipTrigger]="null"
        nzTooltipOverlayClassName="rooltipColorRed"
        [nzTooltipVisible]="formControl.errors && formControl.errors['msg'] && !formControl.pristine ? true : false"  
        style="overflow: hidden;display: block;"
      >
        <textarea
        nz-input
        [class.ui-disabled]="!enable || !tableService.enable"
        [attr.readonly]="!enable || !tableService.enable ? '' : null"
        [placeholder]="placeholder"
        [nzAutosize]="autosize"
        [(ngModel)]="modelService[tableService.modelName][modelName]"
        (ngModelChange)="onModelChange($event)"
        [formControl]="formControl"
        (blur)="onBlurFn($event)"
        ></textarea>
      </span>
      <div class="tipBottom" *ngIf="tip && tipType == 'bottomTip'">
        <hy-comm-tip *ngIf="tip && tipType == 'bottomTip'" [tip]="tip" tipType="bottom"></hy-comm-tip>
      </div>
    </nz-form-control>

    <div *ngIf="tableService.showTip" class="tipStyleClass" style="line-height: normal;">
      <div *ngIf="tip && tipType=='default'" style="position: relative;top: 50%;transform: translateY(-50%)">
        <hy-comm-tip [tip]="tip" tipType="default"></hy-comm-tip>
      </div>
    </div>
  </nz-form-item>
</div>
