// define color
@color-blue-1: #1e6eeb;
@color-blue-2: #808ea9;
@color-blue-3: #32415e;
@color-blue-4: #536ad9;
@color-blue-5: #d2e2fb;
@color-blue-6: #7986cb;
@color-blue-7: #141414;
@color-grey-1: #f2f5fa;
@color-grey-2: #f0f1f6;
@color-green: #31a952;
@color-yellow: #f9bc01;
@color-red: #eb4132;
@color-peach: #f0538f;
@color-white: #fff;

