@import "./base-color.less";
@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";

.hyGltTr:nth-child(odd) td {
  background-color: black;
}

.hyGltTr:nth-child(even) td {
  background-color: #1f1f1f;
}

.hy-edit-table ::ng-deep .ant-table-thead>tr>th {
  background-color: #1f1f1f;
}

.hy-glt ::ng-deep .ant-table-thead>tr>th {
  background-color: #1f1f1f;
}

.ant-layout-sider {
  background: @color-blue-7;
}

.ant-layout-sider-light {
  background: @color-blue-7;
}

.ant-table-thead>tr>th {
  background: none;
}

.ant-layout-header {
    background: #1f1f1f !important;
}

@import "./base.less";
