@import "./base-color.less";
@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.less";

.hyGltTr:nth-child(odd) td {
    background-color: #ffff;
}

.hyGltTr:nth-child(even) td {
    background-color: #fafafa;
}

.hy-edit-table ::ng-deep .ant-table-thead > tr > th {
    background-color: #f9f9f9;
}

.hy-glt ::ng-deep .ant-table-thead > tr > th {
    background-color: #f9f9f9;
}

.hy-table-class{
    background-color: #fff;
}

.hy-gt-content{
    background-color: #fff;
}

.ant-layout-header {
    background: @color-white;
}

.ant-layout-header {
    background: @color-white !important;
}


@import "./base.less";
