@import "./base.less";
@import "./base-color.less";

// common color
@primary-color: @color-blue-5;
@focus-bg: @color-blue-5;

// background
@background-color-base: @color-grey-1;

// text
@text-color-light: @color-blue-2;
@text-color-dark: @color-blue-3;

// button
@btn-bg: @primary-color;
@btn-color: @color-white;
@btn-danger-bg: @color-red;

.ant-layout-sider{
    background:@primary-color;
}

.ant-layout-sider-light {
    background: @primary-color;
}

// 自定义样式
.theme-bg{
    background-color: @primary-color;
}