@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// -------- Colors -----------
@info-color: @blue-6;

// Popover background color
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@text-color: fade(@black, 85%); //输入框里面文字颜色
@heading-color: fade(#000, 65%); //标题文字颜色
@heading-color: fade(#000, 65%); //标题文字颜色
@font-size-base: 13px;

// The background colors for active and hover states for things like
// list items or table cells.
@item-hover-bg: #e6f7ff;

// Disabled states
@disabled-color: fade(#000, 35%);

// Modal
// --
@modal-body-padding: @padding-md;

// Table
// --
@table-row-hover-bg: @item-hover-bg;