:host{
    nz-progress{
        ::ng-deep{
            .ant-progress-line{
                >div{
                    display: flex;
                    align-items: center;

                    .ant-progress-outer{
                        margin: 0;
                        padding: 0;
                        flex: 1;
                    }

                    .ant-progress-text{
                        width: auto;
                    }
                }
            }
         
        }
    }
}