:host {
  display: inline block;
  width: 100%;
  display: block;

  .hy-comm-tip-box {
    .string {
      table-layout: fixed;
      width: 100%;
      word-break: break-all;
      overflow: visible;
      font-size: 12px;
      color: #888;
      padding-top: 5px;
      width: 100%;
      display: block;
      word-break: keep-all;
    }

    >i {
      color: #333;
      font-size: 14px;
    }
  }
}
