:host {
  ::ng-deep .ant-select {
    line-height: 30px;
  }

  .hy-tree-select-box nz-tree-select {
    width: 100%;
  }

  .hy-tree-select-box-tip nz-tree-select {
    width: calc(100% - 20px);
  }

  /*tip底部文字提示样式*/
  .tipBottom {
    font-size: 12px;
    color: #888;
    display: block;
  }
}
