<div class="hy-element-align" *ngIf="type!=='layout'">
  <div  class="hy-element-flex">
    <ng-container *ngTemplateOutlet="leftTemplate"></ng-container>
  </div>
  <div class="hy-element-flex hy-element-flex-right">
    <ng-container *ngTemplateOutlet="rightTemplate"></ng-container>
  </div>
</div>
<!-- layout -->
<div class="hy-align-layout-box" *ngIf="type==='layout'" #layoutBox>
  <hy-title *ngIf="title" [title]="title"></hy-title>
    <div class="main" #main [ngClass]="{'show-main-border':isShowAlignBorder}" [ngStyle]="{'background':background}">
        <div 
          class="left" 
          [ngClass]="{'noGtBorder':noGtAndGltBorder,'noGltBorder':noGtAndGltBorder}" 
          [ngStyle]="{
            'width':_leftWidth,'opacity':_leftWidth === '0%' ? '0' : '1',
            'overflow':_leftWidth === '0%' ? 'hidden' : 'auto',
            'border':_leftWidth === '0%' ? 'none' : (isShowAlignBorder ? '1px solid #e4e4e4' : 'none'),
            'min-height':main.clientHeight + 'px'}" 
          #leftDiv>
          <div>
            <ng-container *ngTemplateOutlet="leftTemplate"></ng-container>
          </div>
        </div>
        <div class="show-btn main-border" [ngClass]="{'main-border-hide':(_leftWidth === '0%' || _rightWidth === '0%') ? true : !isShowMainBorder,'show-main-btn-border':isShowAlignBorder,'no-main-border':_leftWidth === '0%' ? true : false}" 
          [ngStyle]="{'background': (_leftWidth === '0%' || _rightWidth === '0%') ? 'transparent' : '#f0f2f5',width:_leftWidth === '0%' ? '0px' : mainBorderWidth,left:isShowAlignBorder ? _leftWidth : 'none'}">
          <div class="left" *ngIf="_showLeftBtn" [ngStyle]="{'margin-top':_showBtnTop,'left':_leftWidth === '0%' ? '-1px' : (mainBorderWidth ? 'calc(' + mainBorderWidth + ' - '+( isShowAlignBorder ? '15px' : '14px' ) + ')' : '0px')}" (click)="clickLeftBtn(_leftWidth === '0%')" [ngClass]="{'on-right':_leftWidth === '0%'}">
            <hy-icon *ngIf="_leftWidth !== '0%'" [iconStyle]="{'font-size':'40px'}" hyIconName="put-left"></hy-icon>
            <hy-icon *ngIf="_leftWidth === '0%'" [iconStyle]="{'font-size':'40px'}" hyIconName="put-right"></hy-icon>
          </div>
          <div class="right" *ngIf="_showRightBtn" [ngStyle]="{'margin-top':_showBtnTop}" (click)="clickRightBtn(_rightWidth === '0%')" [ngClass]="{'on-left':_rightWidth === '0%'}">
            <hy-icon *ngIf="_rightWidth === '0%'" [iconStyle]="{'font-size':'40px'}" hyIconName="put-left"></hy-icon>
            <hy-icon *ngIf="_rightWidth !== '0%'" [iconStyle]="{'font-size':'40px'}" hyIconName="put-right"></hy-icon>
          </div>
        </div>
        <div 
          class="right" 
          [ngClass]="{'noGtBorder':noGtAndGltBorder,'noGltBorder':noGtAndGltBorder}" 
          [ngStyle]="{
            'width':_rightWidth,'opacity':_rightWidth === '0%' ? '0' : '1',
            'overflow':_leftWidth === '0%' ? 'hidden' : 'auto',
            'margin-left': isShowAlignBorder ? ( _leftWidth === '0%' ? '0px' : mainBorderWidth) : '0px',
            'border':_rightWidth === '0%' ? 'none' : (isShowAlignBorder ? '1px solid #e4e4e4' : 'none'),
            'min-height':main.clientHeight + 'px'}"
          #rightDiv>
          <div>
            <ng-container *ngTemplateOutlet="rightTemplate"></ng-container>
          </div>
        </div>
    </div>
</div>


