<div class="hy_tab hy_tab_{{ (type === 'card' || type === 'editable-card') ? 'card' : type }}_{{ nzTabPosition }}" [ngClass]="{'hy_tab_line_border':showLineBorder}" >
  <nz-tabset [nzTabPosition]="nzTabPosition" [(nzSelectedIndex)]="curActiveIndex" (nzAdd)="addTabs()" [nzTabBarGutter]="tabBarGutter" (nzSelectedIndexChange)="selectedIndexChange($event)"  [nzSize]="size" [nzType]="type" [nzCanDeactivate]="canDeactivate">
    <nz-tab *ngFor="let item of tabs; let index = index" [nzTitle]="titleTemplate" (nzClick)="tabClick(item, index)" >
      <ng-template #titleTemplate > 
        <nz-badge [nzCount]="item.count || 0" nzSize="small">
          <span 
            [ngClass]="{'title-badge':isHavNadge}"
            #hyTabsSpan 
            nz-popover 
            (contextmenu)="contextmenu(item)" 
            nzPopoverOverlayClassName="hy-tabs-pop" 
            [nzPopoverContent]="contentTemplate" 
            [nzPopoverVisible]="item['showPop']" 
            nzPopoverPlacement="rightTop" 
            [nzPopoverTrigger]="item['trigger'] ? item['trigger'] : null"
            (nzPopoverVisibleChange)="visibleChange($event,item)"
            > 
            <i nz-icon [nzType]="item.icon" *ngIf="item.icon"></i>{{ item.title }}
            <hy-icon *ngIf="item.isShowClose !== undefined ? item.isShowClose : isShowClose" class="hy-tab-close" nzIconName="close" [iconStyle]="{'font-size':'12px'}" style="display: inline-block;width: 12px;" (click)="tabClose(item,index)"></hy-icon>
          </span>
        </nz-badge>
      </ng-template>

      <!-- 右键操作面板start -->
      <ng-template #contentTemplate>
        <div class="operation-list" *ngIf="operationTemplate" (click)="clickOperation()">
          <ng-template [hyTemplateWrapper]="operationTemplate" [index]="index" [item]="item"></ng-template>
        </div>
      </ng-template>
      <!-- 右键操作面板end -->

      <div  style="padding: 8px" [ngStyle]="{minHeight: (type === 'card' || type === 'editable-card') && nzTabPosition == 'left' ? tabs.length * 50 + 'px' : 'auto'}">
        <ng-template *ngIf="itemTemplate" [hyTemplateWrapper]="itemTemplate" [item]="item" [index]="index"></ng-template>
        <ng-container *ngIf="item.url && item.url.length > 0">
          <div *ngIf="_itemUrl === item.url">
            <router-outlet></router-outlet>
          </div>
        </ng-container>
      </div>
    </nz-tab>
  </nz-tabset>
</div>


