

.btn-class{
  border: none;
}


.btn{
  border: none;
  outline: 0!important;
  background-color: transparent;
  box-shadow: none!important;
  width: auto;
  /* line-height: 40px; */
  padding: 0;
  cursor: pointer;
}
.search-inco{
  vertical-align: middle;
  color: #666;
  font-size: 16px;
}


.search-inco:hover{
  color: var(--primary-color);
}

.show{
  color: var(--primary-color);
}
